html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    height: 100%;
}

.main-section {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 25px 40px;
    color: #aaaaaa;
    font-size: 14px;
}

/*
#features:checked ~ .right-section label[for="features"] {
    color: red;
} */

.none {
    display: none;
}

label {
    cursor: pointer;
}

label:hover {
    color: #6d6d6d;
}

.header-margin {
    margin-right: 25px;
    display: inline-block; /* если в елемент c не установленым display вложить display: block, то он становиться блочным */
    position: relative;
}

.header-margin::after {
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    border: 1.5px solid #aaaaaa;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    margin: 2px 5px;
    z-index: 5;
}

.header-margin:hover::after {
    border-right-color: #6d6d6d;
    border-bottom-color: #6d6d6d;
}

.show-case {
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px #d9d9d9;
    padding: 20px;
    border-radius: 5px;
    /* z-index: ; */
    /width: 220px;
    margin: auto;
    top: 30px;
    right: -20px;
    display: none;
}

.show-case::after {
    content: "";
    display: block;
    position: absolute;
    background-color: red;
    border: 10px solid white;
    background-color: #f7f7f7;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    top: -20px;
    right: 20px;
}

.show-case li {
    margin-bottom: 25px;
    border: 1px solid red;
}

.show-case a {
    text-decoration: none;
}

.show-case h3 {
    color: black;
    margin-bottom: 0px;
    font-weight: normal;
}

.show-case a h3:hover {
    text-decoration: underline;
}

.show-case p {
    color: #aaaaaa;
    margin-top: 0px;
}

.case-social {
    display: none;
}

#features:checked ~ .right-section .show-case {
    display: block;
}

#features:checked ~ .right-section .case-social {
    display: none;
}

#social-network:checked ~ .right-section .case-social {
    display: block;
}


.tvit {
    width: 20px;
    height: 20px;
    background-color: #aaaaaa;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.tvit:hover {
    background-color: #6d6d6d;
}

.settings-button {
    display: inline-block;
    line-height: 5px;
    vertical-align: top;
    font-size: 20px;
    transform: scaleX(3);
    transform-origin: left;
}

.settings-button::before, .settings-button::after {
    content: "-";
    display: block;
}

#settings-button:checked ~ .settings {
    right: 0;
}

.settings {
    width: 250px;
    height: 100%;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    right: -250px;
    box-shadow: -0.5px 0px 6px;
    transition: 0.5s ease all;
    
    padding-left: 30px;
    box-sizing: border-box;
}

.settings a {
    color: #333333;
    text-decoration: none;
}

.settings a:hover {
    text-decoration: underline;
}

.settings-exit {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
    top: 25px;
    right: 30px;
}

.settings-exit::before, .settings-exit::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #aaaaaa;
    position: absolute;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.settings-exit::before {
    transform: rotate(90deg);
}

.settings h3 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 27px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0px
}

.settings li {
    line-height: 25px;
}


/* */

.main-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    /border: 1px solid red;
    
    margin-top: 40px;
    color: #9a9a9a;
}

.main-search a{
    color: #4495d4;
    text-decoration: none;
    position: relative;
}

.logo::after, .logo::before {
    position: absolute;
    display: block;
    opacity: 0;
    transition: 0.5s ease all;
}

.logo::after {
    content: "Узнать больше";
    line-height: 40px;
    padding: 2px 10px;
    white-space: pre;
    background-color: #949494;
    color: white;
    border-radius: 3px;
    top: 55px;
    right: -90px;
}

.logo::before {
    content: "";
    border: 10px solid #949494;
    width: 10px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: 67px;
    right: 41px;
}

.logo:hover::after, .logo:hover::before {
    opacity: 1;
}

.main-search a:hover {
    text-decoration: underline;
}

.main-search input {
    width: 600px;
    height: 50px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 10px #d9d9d9;
    font-size: 18px;
    padding: 10px 20px;
    padding-right: 100px;
    box-sizing: border-box;
}

.search {
    position: relative;
}

.search-btn, .delete-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    display: block;
    
    /border: 1px solid red;
}

.search-btn {
    right: 0;
    border-radius: 0px 4px 4px 0px;
}

.search-btn::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #999999;
    margin: 0 auto;
}

.search-btn::after {
    width: 10px;
    height: 3px;
    background-color: #999999;
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    transform:  rotate(45deg) translateX(-2px);
}

.search-btn:hover::before, .search input:valid + .search-btn::before {
    background-color: transparent;
    border-color: white;
} 

.search-btn:hover::after, .search input:valid + .search-btn::after {
    background-color: white;
}

.search-btn:hover {
    background-color: #66ad57;
}

.delete-btn {
    right: 50px;
    display: none;
}

.delete-btn::before, .delete-btn::after {
    content: "";
    width: 30px;
    height: 2px;
    display: block;
    background-color: #d9d9d9;
    margin: 0 auto;
    transform: rotate(45deg);
}

.delete-btn::after {
    margin-top:  -2px;
    transform: rotate(135deg);
}

.delete-btn:hover::before, .delete-btn:hover::after {
    background-color: #484848;
}

.delete-btn:active::before, .delete-btn:active::after {
    background-color: #e16948;
}

.search input:valid + .search-btn {
    background-color: #5b9e4d;
}

.search input:valid ~ .delete-btn  {
    display: block;
}


.tip {
    font-size: 18px;
    position: absolute;
    line-height: 30px;
    display: none;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    z-index: 10;
    
    box-shadow: 0px 0px 10px #d9d9d9;
}

.tip a {
    color: black;
    width: 100%;
    display: block;
    padding-left: 20px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tip li:first-child a {
    border-radius: 10px 10px 0px 0px;
}

.tip li:last-child a {
    border-radius: 0px 0px 10px 10px;
}

.tip a:hover {
    text-decoration: none;
    background-color: #f2f2f2;
    /background-color: red;
}

.search input:focus ~ .tip {
    display: block;
}

.search input:invalid ~ .tip  {
    display: none;
}