html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    height: 100%;
}

.main-section {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 25px 40px;
    color: #aaaaaa;
    font-size: 14px;
}

/*
#features:checked ~ .right-section label[for="features"] {
    color: red;
} */

.none {
    display: none;
}

label {
    cursor: pointer;
}

label:hover {
    color: #6d6d6d;
}

label[for="features"]::after, label[for="social-network"]::after {
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    border: 1.5px solid #aaaaaa;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    margin: 2px 5px;
}

label[for="features"]:hover::after, label[for="social-network"]:hover::after {
    border-right-color: #6d6d6d;
    border-bottom-color: #6d6d6d;
}


.tvit {
    width: 20px;
    height: 20px;
    background-color: #aaaaaa;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.tvit:hover {
    background-color: #6d6d6d;
}

.settings-button {
    display: inline-block;
    line-height: 5px;
    vertical-align: top;
    font-size: 20px;
    transform: scaleX(3);
    transform-origin: left;
}

.settings-button::before, .settings-button::after {
    content: "-";
    display: block;
}

.header-margin {
    margin-right: 25px;
}


#settings-button:checked ~ .settings {
    right: 0;
}

.settings {
    width: 250px;
    height: 100%;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    right: -250px;
    box-shadow: -0.5px 0px 6px;
    transition: 0.5s ease all;
    
    padding-left: 30px;
    box-sizing: border-box;
}

.settings a {
    color: #333333;
    text-decoration: none;
}

.settings a:hover {
    text-decoration: underline;
}

.settings-exit {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
    top: 25px;
    right: 30px;
}

.settings-exit::before, .settings-exit::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #aaaaaa;
    position: absolute;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.settings-exit::before {
    transform: rotate(90deg);
}

.settings h3 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 27px;
}

.settings ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0px
}

.settings li {
    line-height: 25px;
}
